<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

initial = 0
print(initial)
#this is a placeholder value for 'initial'. Update once known

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

0



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

favorite_number = 16
# This variable represents my favorite number

print(favorite_number)

# Create another variable that represents your favorite color, and do the same steps as above.

favorite_color = "purple"
#This variable represents my favorite color 
print(favorite_color)

16
purple



### P3.PY

In [15]:
"""
String Formatting
"""


# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

favorite_song = """Where were you
When everything was falling apart
All my days
Spent by the telephone 
"""

#You Found Me
#Artist The Fray


print(favorite_song)

Where were you
When everything was falling apart
All my days
Spent by the telephone



## TYPECASTING

### P1.PY

In [9]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

#print(type(five))
#print(type(zero))
#print(type(neg_8))
#print(type(neg_22))

#convert

five = float(five)
print(five)
print(type(five))


zero = float(zero)
print(zero)
print(type(zero))

neg_8 = float(neg_8)
print(neg_8)
print(type(neg_8))

neg_22 = float(neg_22)
print(neg_22)
print(type(neg_22))


#now convert back

five = int(five)
print(five)
print(type(five))

zero = int(zero)
print(zero)
print(type(zero))

neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))

neg_22 = int(neg_22)
print(neg_22)
print(type(neg_22))

5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>
-22.0
<class 'float'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
-22
<class 'int'>



### P2.PY

In [10]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

#convert to string 

five = str(five)
print(five)
print(type(five))

zero = str(zero)
print(zero)
print(type(zero))

neg_8 = str(neg_8)
print(neg_8)
print(type(neg_8))


T = str(T)
print(T)
print(type(T))

F = str(F)
print(F)
print(type(F))

#Convert back
five = int(five)
print(five)
print(type(five))


zero = int(zero)
print(zero)
print(type(zero))


neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))

T = bool(T)
print(T)
print(type(T))

F = bool()
print(F)
print(type(F))

## not possible to convert to boolean = false unless left empty

5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>
True
<class 'str'>
False
<class 'str'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>



### P3.PY

In [11]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(one)
print(one)
print(type(one))

zero = bool(zero)
print(zero)
print(type(zero))


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

one =  float(one)
print(one)
print(type(one))

zero = float(zero)
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

one = bool(one)
print(one)
print(type(one))

zero = bool(zero)
print(zero)
print(type(zero))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one = int(one)
print(one)
print(type(one))

zero = int(zero)
print(zero)
print(type(zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

ten = bool(ten)
print(ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [16]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

one = bool(one)
print(one)
print(type(one))

zero = bool(zero)
print(zero)
print(type(zero))


#bool_true and bool_false are already boolean values


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
print(one)
print(type(one))

zero = int(zero)
print(zero)
print(type(zero))

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.


#they are already booleans but I can turn them into integers and back below

bool_true= int(bool_true)
print(bool_true)
print(type(bool_true))

bool_false = int(bool_false)
print(bool_false)
print(type(bool_false))


bool_true= bool(bool_true)
print(bool_true)
print(type(bool_true))

bool_false= bool(bool_false)
print(bool_false)
print(type(bool_false))

True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [18]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100



# Add 50
orig_var = orig_var + 50
print(orig_var)

# Subtract 90

orig_var = orig_var - 90
print(orig_var)

# Multiply 10

orig_var = orig_var * 10
print(orig_var)

# Divide 150
orig_var = orig_var / 150
print(orig_var)

# Modulus 3

orig_var = orig_var % 3
print(orig_var)

150
60
600
4.0
1.0



### P2.PY

In [4]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.

var1 = "I'll go to Chicago tomorrow"
var2 = "and I'll go to katie's wedding"
strings = (var1, var2)
', '.join(strings)

#I'm unsure how to get the puncuation at the end want to ask about during class

## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

"I'll go to Chicago tomorrow, and I'll go to katie's wedding"



### P3.PY

In [3]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a+b)


# B)
c = '0'
d = '2'

c= int(c)
d= int(2)

#convert to integer first

print(c+d)

# C)
e = "0"
f = 2

e = int(e)

print(e+f)

2
2
2



### P4.PY

In [7]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)


# B)
c = False
d = False

print (c+d)

# C)
e = True
f = False

print(e + f)

2
0
1