<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/homework_3_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## LOOP_BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

odds = []

evens = []

number_range = range(1,11)

for i in number_range:
  if i % 2 == 0:
    evens.append(i)
  else: 
    odds.append(i)
    
    
print(f' even numbers: {evens}')
print(f' odd numbers: {odds}')

 even numbers: [2, 4, 6, 8, 10]
 odd numbers: [1, 3, 5, 7, 9]



### P2.PY

In [0]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

print(a)

# Using a loop, remove the duplicate items from list a and print out the updated list.

new_a = []
for idx, item in enumerate(a):
  if item in a [idx+1:]:
      continue
      
  new_a.append(item)
print(new_a)


# Using a loop, merge list b into list a without adding any duplicates.

for item in b:
  if b in a:
    continue 
    
  a.append(item)
print(b)

[2, 4, 10, 20, 5, 2, 20, 4]
[10, 5, 2, 20, 4]
[13, 2, 25, 20, 4, 8]



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0


celsius_temps = []

for i in sampleF:
  celsius_temps.append((i-32)* 5.0/9.0)
print(celsius_temps)

rounded_celsius_temps = [ round(elem,2) for elem in celsius_temps ]
print(rounded_celsius_temps)

temperature_conversions = {}
temperature_conversions = dict(zip(sampleF,rounded_celsius_temps))
print(temperature_conversions)

[21.999999999999996, 28.000000000000004, 33.0, 42.0, 52.0]
[22.0, 28.0, 33.0, 42.0, 52.0]
{71.6: 22.0, 82.4: 28.0, 91.4: 33.0, 107.6: 42.0, 125.6: 52.0}



### P4.PY

In [0]:
"""
Factorial
"""

# Find the factorial of a number input by a user. 
#Then print out the factors within the factorial and then print out the actual numeric answer. 
#Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:8! = 8*7*6*5*4*3*2*1
#8! = 40320

user_input = input('Enter a number to find its factorial: ')

num = int(user_input)
r = range(1, num + 1)

factorial = []

current_product = 1
for i in r:
    current_product = current_product * i 
print(current_product)
print(num)

Enter a number to find its factorial: 5
120
5



### P5.PY

In [0]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')

n = 1
x = int(user_input)

R = range(n,x+1)


factors = []
not_factors = []

for num in R:
  if x % num == 0:
    factors.append(num)
  else:
    not_factors.append(num) 
print(factors)

Enter a number to find its factors: 12
[1, 2, 3, 4, 6, 12]



### P6.PY

In [0]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. 
# Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')

n1 = int(user_input1)
n2 = int(user_input2)

n1_range = range(1, n1+1)
n1_factors = []
for i in n1_range:
  if n1 % i == 0:
    n1_factors.append(i)
  
  
n2_range = range(1, n2+1)
n2_factors = []
for i in n2_range:
   if n2 % i == 0:
    n2_factors.append(i)

print(n1_factors, n2_factors)
    
n1_set = set(n1_factors)
n2_set = set(n2_factors)

common_factors = n1_set & n2_set  # this is the intersection 
print(common_factors)

gcf = max(common_factors)
print(gcf)

Enter two numbers to find their greatest common denominator.
First number: 124
Second number: 38
[1, 2, 4, 31, 62, 124] [1, 2, 19, 38]
{1, 2}
2



## DICT_LOOPS

### P1.PY

In [0]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text updates from your startup.
# Go through this dict to make the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1758',
	'Brandon': '1.935.297.9447',
	'Monique': '1.702.716.5353',
	'Sohom': '1.576.619.6100',
}




for key,values in contacts.items() :
    print(f' {key} : {values.replace(".","")}')

 Jamie : 11921680143
 Kartik : 18372091121
 Grant : 18263861758
 Brandon : 19352979447
 Monique : 17027165353
 Sohom : 15766196100



### P2.PY

In [0]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.

import statistics

num_grades = {}
for k,v in students.items():
    num_grades[k] = sum(v)/ float(len(v))
print(num_grades)

# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. Use A, B, C, D, and F as grades per the standard grading scale.

letter_grades = {}
for k,v in num_grades.items(): 
  if v > 90:
    letter_grades[k] = 'A'
  elif v > 80:
    letter_grades[k] = 'B'
  elif v > 70:
    letter_grades[k] = 'C'
  elif v > 60:
    letter_grades[k] = 'D'
  else:
    letter_grades[k]= 'F'
print(letter_grades)



# p 1.3) Create a list of honor roll students (i.e. students who got A's).

honor_roll = []
for k,v in letter_grades.items():
  if v == 'A':
    honor_roll.append(k)
print(honor_roll)

{'Ashton': 82.25, 'Sierra': 100.0, 'Zach': 66.0, 'Manuel': 94.0, 'Felicia': 91.25, 'Ankur': 78.5, 'Ananya': 92.75, 'Nick': 85.5, 'Olivia': 82.0, 'Molly': 79.75}
{'Ashton': 'B', 'Sierra': 'A', 'Zach': 'D', 'Manuel': 'A', 'Felicia': 'A', 'Ankur': 'C', 'Ananya': 'A', 'Nick': 'B', 'Olivia': 'B', 'Molly': 'C'}
['Sierra', 'Manuel', 'Felicia', 'Ananya']



### P3.PY

In [0]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. You're evaluating your pricing
#to make sure it's up to date with the latest costs of making each menu item 
#(see the menu prices and costs dicts below). Evaluate whether each item's price returns a profit margin
#of at least $1.00. If it doesn't, update the menu_prices dict with a new price that gives the item a $1.00 profit margin. 
#Then print out the items which you've repriced in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}

menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}

# price_increases = 

profit = []

no_profit = []

for k,v in zip(menu_prices,menu_costs):
  if (menu_prices[v] - menu_costs[v]) >= 1.00:
    profit.append(menu_costs[k])
  else:
    no_profit.append(menu_costs[k])
print(profit)
print(no_profit)

[12.5, 11.75, 6.33, 11.75]
[11.25, 12.9, 14.0]



## CONTROL_FLOW

### P1.PY

In [0]:
"""
Control Flow - I
"""

# Print the numbers in the range (5:12) until you find a factor of 4. 
#If the range the user enters contains no factors of 4, print 
#"There are no factors of 4 in this interval."
# HINT: for the range 5,12 there will likely be multiples of 4 present - to assert the final requirement, 
#try changing range boundaries

r = range(1,3)



multiples = []

for i in r:
  if i % 4 == 0:
    multiples.append(i)
    print(f' multiple of 4 found {i}')
    continue
  print(f' not a multiple, {i}')
  
if len(multiples) < 1: 
  print("no multples found")

 not a multiple, 1
 not a multiple, 2
no multples found



### P2.PY

In [0]:
"""
Control Flow II
"""

# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. Note : Use 'continue' statement. 

r = range(0, 7)

for i in r:
  if i == 3: 
    continue
  if i ==6:
    continue
  else:
    print(i)

0
1
2
4
5



## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle
"""

# Use a while loop to print a 5-level triangle of stars that looks like this:

"""
*
**
***
****
*****
"""


i = 0
star = '*'


while i < 6:
  print(i * star)
  i += 1

*
**
***
****
*****



### P2.PY

In [1]:
"""
Build a Pyramid
"""

# Use a while loop to print a pyramid of stars that looks like this:

"""
    *
   ***
  *****
 *******
*********
"""



#unsure

'\n    *\n   ***\n  *****\n *******\n*********\n'



### P3.PY

In [0]:
"""
Build a Diamond
"""

# Use a while loop to print a diamond of stars that looks like this:

"""
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""



## LOOP_CHALLENGES

### P1.PY

In [0]:
#optional

"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")



### P2.PY

In [0]:
#optional

"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")